.footer {
  padding: 50px 20px 0 20px;
  background-color: white;
  color: $normal_theme_color;

  @media screen and (min-width: 1024px){
    padding: 50px 100px 0 100px;
  }

  .header {
    padding-top: 30px;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    // border-top: 2px solid $normal_theme_color;

    @media screen and (min-width: 700px){
      font-size: 40px;
    }
  }

  #msg_form {
    width: 75%;
    min-height: 300px;
    // margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    @include flexbox((
      display: flex,
      flex-direction: column,
      justify-content: center
    ));

    @media screen and (min-width: 700px){
      width: 65%;
    }

    input, textarea{
      border: none;
      border-bottom: 2px solid;
      border-color:  lighten($normal_theme_color, 50%);
      @include input-placeholder{
        color: inherit;
      }
      font-family: inherit;
      font-weight: 500;
      font-size: 1.2em;

      &:focus{
        border-color: inherit;
      }

      transition: border-color 0.3s;
    }

    .name, .email, .message, .send{
      margin: 2%;
      padding-bottom: 10px;
    }

    .row-form {
      @include flexbox((display: flex,
        flex-direction: column,
        justify-content: flex-start,
        flex-grow: 1,
        flex-shrink: 1
      ));


      @media screen and (min-width: 700px){
        @include flexbox((display: flex,
        flex-direction: row,
        justify-content: flex-start,
        flex-grow: 1,
        flex-shrink: 1
        ));
      }
      
      
      .name {
        width: 100%;
        flex-basis: auto;
        flex-grow: 1;

        @media screen and (min-width: 700px){
          width: 0;
          flex-basis: auto;
          flex-grow: 1;
          flex-shrink: 2;
        }
      }

      .email {
        width: 100%;
        flex-basis: auto;
        flex-grow: 1;

        @media screen and (min-width: 700px){
        width: 0;
        flex-basis: auto;
        flex-grow: 2;
        flex-shrink: 1;
        }
        
      }
    }

    .message{
      flex-shrink: 1;
      flex-grow: 3;
      width: 98%;
      height: 98%;
    }

    .send{
      border: none;
      background-color: inherit;
      cursor: pointer;
    }
  }
}
