// header{
//   @include flexbox((
//     display: flex, 
//     flex-direction: row,
//     justify-content: space-between
//   ));
// 	padding-top: 3em;
//   padding-bottom: .5em;
//   padding-left: 3em;
//   padding-right: 3em;
// }

// //change to logo later
// h1{
//   font-size: 1.45em;
//   padding: 10px 15px;
//   // transform: rotate(90deg);
// }

// ul{
//   list-style: none;
//   margin-top: 5px;
//   //List elements
//   .nv{
//     a{
//       text-decoration: none;
//       color: #34495e;
//       padding: 10px 45px;
//       text-align: center;
//       display: block;
//       font-size: .99em;
//       font-weight: bold;
//       &:hover{
//         color: #718daa;
//       }
//     }
//   }
// }

// /* Media Queries */

// @media (min-width: 1025px) {
//   header,
// 	ul {
// 		display: flex;
// 	}
// 	header {
// 		flex-direction: column;
//     align-items: center;
// 	}

// 	header {
// 		flex-direction: row;
// 		justify-content: space-between;
// 	}

// }