

//Side Bar Social Media
.side-bar-social {
  //Display
  position: absolute;
  display: none;
  opacity: 0;

  //Animations
  transition: opacity .25s .3s;

  //Social Media List Item
  li {
    //Display
    opacity: 0;

    //Link Within List Item
    a {

      //Icon Within Link
      .icon {
        //Dimensions
        width: 18px;
        height: 22px;

        //SVG
        svg {
          //Display
          fill: inherit;
          color: inherit;

          //Dimensions
          width: 100%;
          height: 100%;

          path {
            //Display
            stroke: inherit;
          }
        }
      }
    }
  }}