.project_section {
  overflow: hidden;

  .section {
    padding: 50px 0;
    max-width: 100vw;
  }

  .content_wrap {
    position: relative;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }

    &>* {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1.2em;
  }

  .main_section {
    width: 100vw;
    min-height: 800px;
    height: 100vh;

    color: $dark_theme_color;
    max-width: 1140px;

    @media screen and (min-width: 1024px) {
      padding: 10vh 0 0 8vw;
    }

    figure {
      z-index: -10;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 100%;
      overflow: hidden;
      background-color: $emoji_red;
      height: 100%;

      .main_image {
        width: 150%;
        height: auto;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        right: 0;

        @media screen and (min-width: 1024px) {
          width: auto;
          height: 100%;
          right: 90px;
        }
      }
    }

    .inner_text {
      width: 50%;
      height: auto;
      min-width: 600px;
      max-width: 700px;
      padding: 20% 40px 0 5%;

      @media screen and (min-width: 650px) {
        padding: 100px 40px 0 40px;
      }

      .title {
        z-index: 10;
        color: inherit;
        padding-bottom: 30px;
        margin-bottom: .3em;

        p {
          font-size: 15vw;
          font-weight: 600;
          line-height: 1em;
          z-index: 10;

          @media screen and (min-width: 650px) {
            font-size: 100px;
          }
        }
      }

      .desc {
        font-size: 4vw;
        color: inherit;

        @media screen and (min-width: 650px) {
          font-size: 20px;

        }

        p {
          letter-spacing: .025em;
          line-height: 1.8em;
          margin-bottom: 1.7em;

          @media screen and (max-width: 650px) {
            width: 80vw;
          }


        }

        .my_resume {
          text-align: right;
          z-index: 20;

          .resume_link {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;

            color: $dark_theme_color;
            fill: $dark_theme_color;
            stroke: $dark_theme_color;

            @media screen and (min-width: 1024px) {
              padding: 30px 0;
              justify-content: flex-end;
            }

            &:hover,
            &:visited,
            &:focus {
              text-decoration: none;
              color: inherit;
            }

            .arrow_svg {
              width: 20px;
              height: 20px;
              stroke: inherit;
              margin-right: 20px;
              stroke-linecap: round;
              stroke-miterlimit: 10;
              stroke-width: 25px;

              transition: margin 0.5s ease-in-out;

              @media screen and (min-width: 1024px) {
                width: 30px;
                height: 30px;
                margin-right: 30px;
              }
            }

            &:hover,
            &:focus {
              color: $dark_theme_color;
              fill: $dark_theme_color;
              stroke: $dark_theme_color;

              .arrow_svg {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }

  .web_tour {
    h1 {
      width: 90%;
      padding-top: 50px;
      text-align: center;

      @media screen and (min-width: 900px) {
        width: 40%;
        padding-left: 40px;
      }
    }

    .content_wrap {
      padding: 0;

      .gif_container {
        width: 80%;

        @media screen and (min-width: 900px) {
          width: 60%;
        }

        .gif_image {
          width: 100%;
        }
      }
    }

    .content_wrap {
      @media screen and (max-width: 1024px) {
        flex-direction: column-reverse;
      }
    }
  }


  .semantic_info {
    width: 100%;

    @media screen and (min-width: 900px) {
      width: 50%;
      padding-left: 20px;
    }

    .info_item {
      border-top: 1px solid #dbdce1;
      padding: 15px 0;

      h3 {
        font-weight: 400;
        font-size: 18px;
        color: #a8abb6;
      }

      p {
        letter-spacing: .025em;
        line-height: 1.8em;
      }

      &:first-child {
        border: none;
      }
    }
  }

  .secondary_section {
    padding: 100px 0;
    max-width: 100vw;

    .content_wrap {
      .semantic_title {
        width: 100%;
        text-align: center;

        @media screen and (min-width: 900px) {
          width: 50%;
          text-align: left;
        }

        h1 {
          font-size: 40px;
          line-height: 1.2em;
          padding-bottom: 50px;
        }
      }
    }
  }

  .thought_section {
    .content_wrap {
      h1 {
        @media screen and (min-width: 1024px) {
          width: 40%;
        }
      }

      .context_text_section {
        padding: 50px 0;

        @media screen and (min-width: 1024px) {
          width: 60%;
          padding: 50px;
        }
      }
    }

    &.switched {
      .content_wrap {
        @media screen and (max-width: 1024px) {
          flex-direction: column-reverse;
        }

        h1 {
          @media screen and (min-width: 1024px) {
            width: 50%;
            padding-left: 20px;
          }
        }

        .context_text_section {
          padding: 50px 0;

          @media screen and (min-width: 1024px) {
            width: 50%;
            padding-right: 50px;
          }
        }
      }
    }
  }

  .images_section {

    @media screen and (min-width: 1024px) {
      padding: 0 100px;
    }

    h1 {
      text-align: center;
      padding: 50px 40px;
    }

    .images {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: center;
      }

      .img_container {
        max-width: 100%;
        min-width: 80%;
        height: auto;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        margin: 20px;

        @media screen and (min-width: 1024px) {
          max-width: 40%;
          min-width: 30%;
        }

        .img_cover {
          max-height: 100%;
          max-width: 100%;
          height: auto;
          width: auto;
          margin: auto auto;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          object-fit: cover;
        }

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

      }
    }
  }
}
