//Side Bar
.side-bar {
  //Display
  position: fixed;
  z-index: 100;
  right: 0;
  color: $normal_theme_color;
  fill: $normal_theme_color;
  stroke: $normal_theme_color;

  //Animation
  transition: color .2s;

  //Media Query
  @media screen and (min-width: 1024px) {
    //Dimensions
    width: auto;
    height: auto;
  }

  //Side Bar Wrapper
  .side-bar-wrapper {
    //Display
    position: relative;
    color: inherit;

    //Dimensions
    height: 100vh;

    //Flexbox
    @include flexbox((display: flex,
      flex-flow: column nowrap,
      align-items: center));

      //Media Query
    @media screen and (min-width: 1024px) {
      //Dimensions
      min-height: 640px;
      width: 145px;
    }


    //Side Bar Description
    .side-bar-desc {
      //Display
      position: absolute;
      display: none;
      color: inherit;

      //Animation
      @include transform(rotate(90deg));

      //Media Query
      @media screen and (min-width: 1024px) {
        //Display
        display: inline-block;
        color: inherit;

        //Dimensions
        width: auto;
        height: auto;
        top: 265px;
        right: calc(20px - 50%);

        //Typography
        font-weight: 600px;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;

        //Flex Item
        @include flexbox((flex: 0 0 auto));
      }

      span {
        @media screen and (min-width: 1024px) {
          //Display
          display: block;
          overflow: hidden;

          //Dimensions
          width: 0;
          //Animations
          @include animation(descOut .6s ease-in-out 2s 1 forwards);
        }
      }
    }
  }

  //Dark Theme & Menu Open
  &.dark-theme
  // &.menu-open 
  {
    //Display
    color: $dark_theme_color;
    fill: $dark_theme_color;
    stroke: $dark_theme_color;

    @media screen and (min-width: 1024px) {
      //Dimensions
      left: inherit;
      bottom: inherit;
    }
  }

  // &.menu-open,
   &.scrolled{

    @media screen and (min-width: 1024px){
      position: absolute;
      display: none;
      color: inherit;
    }
  }

  // &.menu-open:not(.theme-black) {
  //   @media screen and (min-width: 1024px) {
  //     //Display
  //     color: $normal_theme_color;
  //     fill: $normal_theme_color;
  //     stroke: $normal_theme_color;
  //   }
  // }

}

@media only screen and (min-width: 1400px) {
  .side-bar{
    .side-bar-wrapper{
      width: 175px;

      .side-bar-desc{
        top: 320px;
        font-size: 18px;
      }
    }

    &.menu-open, &.scrolled{
      position: absolute;
      display: none;
      color: inherit;
    }
  }
}