*{
  margin: 0;
  padding: 0;
  outline: 0;
  @include box-sizing(border-box);
}

body{
  min-height: 100vh;
  line-height: 1.6;
}

div{
  display: block;
}

a{
  // font-family: acumin-pro, sans-serif;
  font-weight: 400;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

svg:not(:root){
  overflow: hidden;
}



