/* colors */
$dark_theme_color: white;
$normal_theme_color: #1d1e22;
$transparent_normal_theme_color: rgba(29,30,34, 0.2);
$semi_transparent_normal_theme_color: rgba(29,30,34, 0.95);
$lighten_normal_theme_color: lighten($normal_theme_color, 20%);
$light_text_gray: #52545a;
$emoji_red: #fd5f5f;
$pacman_gray: #1d1e22;
$music_box_background: #232f3f;
$stockers_color: #7f5959;

/* dimensions */