<template>
  <div class="about ">
    <div class="about_me">
      <div class="name">
        <p>
          Danny <br />
          &ensp;Manzano
        </p>
      </div>
      <p class="about_me_desc">I'm a computer science student at Dawson College with interest in web development
        currently based in Montreal, QC. I have an interest in good &amp; intuitive looking designs. In the future, I
        intend
        on researching more about AI &amp; UX Design.</p>


    </div>

    <div class="current_life">
      <div class="header">What I am currently doing?</div>
      <div class="desc">I'm in the process of finishing my last semester and finding an internship in software
        development.
        Constant learning is something that I strongly believe in and that is why I spend some of my leisure time
        learning new web frameworks,
        try out other programming languages and improve in the languages I already know outside school</div>
    </div>


    <div class="future_life">
      <div class="header">What are my plans for the future?</div>
      <div class="desc">I intend on eventually continuing higher education to study design and A.I. which I believe are
        important tools to have in a competitive market
        but I'm very open to gain experience within the industry. </div>

      <div class="my_resume">
        <router-link class="resume_link" id="resume_link" to="/cv">
          <img svg-inline src="../assets/arrow_right.svg" class="arrow_svg" for="resume_link" />
          Resume
        </router-link>
      </div>
    </div>



    <!-- Footer ?  -->
    <!-- <div class="footer">
      <div class="header">Contact</div>
      <form id="msg_form">
        <div class="row-form">
          <input class="name" type="text" placeholder="Name" />
          <input class="email" type="email" placeholder="Email Address" />
        </div>
        <textarea class="message" placeholder="Message" style="resize:none;" />
        <input class="send" type="submit" value="Send" /> 
      </form>
    </div> -->


    <!-- <ul class="side-bar-social">
      <li v-for="ic in social_icons" :key="ic.name">
        <a v-bind:href="ic.href">
          <div v-bind:class="ic.class_name" v-html="ic.svg"></div>
        </a>
      </li>
    </ul> -->
  </div>
</template>

<script>
  export default {
    name: 'about',
    data() {
      return {
        social_icons: [{
            name: 'icons1',
            class_name: 'icon icon-gitlab',
            href: '#',
            svg: '<img svg-inline src="../assets/gitlab_logo.svg" alt="Link to my gitlab" class="svg-img"/>',
          },
          {
            name: 'icons2',
            class_name: 'icon icon-gitlab',
            href: '#',
            svg: '<img svg-inline src="../assets/gitlab_logo.svg" alt="Link to my gitlab" class="svg-img"/>',
          },
          {
            name: 'icons3',
            class_name: 'icon icon-gitlab',
            href: '#',
            svg: '<img svg-inline src="../assets/gitlab_logo.svg" alt="Link to my gitlab" class="svg-img"/>',
          }

        ]
      }
    },
    mounted() {
      document.getElementById('s-menu').classList.remove("dark-theme");
      document.getElementById('side-bar').classList.remove("dark-theme");
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  @import '../scss/about';

</style>
