<template>
  <div class="email project_section">
    <div class="main_section">
      <figure>
      </figure>
      <div class="inner_text">
        <div class="title">
          <p> Email
            <br />
            Application</p>
        </div>
        <div class="desc">
          <p>Dark themed application for displaying, viewing, replying, forwarding and composing emails with a simple
            log-in, log-out interface. Full-Stack application to test our complete knowledge of Java</p>
            <div class="my_resume">
            <a class="resume_link" id="resume_link" href="https://gitlab.com/1532483/Gmail_JavaApp_Project">
              <img svg-inline src="../assets/arrow_right.svg" class="arrow_svg" for="resume_link" />
              Source Code
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="secondary_section section">
      <div class="content_wrap">
        <div class="semantic_title">
          <h1>Semantic Information About The Project</h1>
        </div>

        <div class="semantic_info">
          <div class="info_item" v-for="meta in meta_info" :key="meta.head">
            <h3>{{meta.head}}</h3>
            <p>{{meta.data}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="web_tour section">
      <div class="content_wrap">
        <figure class="gif_container"><img v-bind:src="gif" class="gif_image" /></figure>
        <h1>Application Tour</h1>
      </div>
    </div>

    <div class="thought_section section">
      <div class="content_wrap">
        <h1>Thoughts On The Project</h1>
        <p class="context_text_section">This 10 weeks project was a test of our coding knowledge &amp; abilities from our past 4 semesters. We used JavaFX for the visuals, MySQL for the database and Netbeans as an IDE. This was a very ambitious project throughout our 4 phases. We learned how to request and manipulate emails from remote servers, as well as, stylizing a software application.</p>
      </div>
    </div>

    <div class="images_section section">
      <h1>Project Images</h1>
      <div class="images">
        <figure class="img_container" v-for="ai in all_images" :key="ai"><img class="img_cover" v-bind:src="library + ai" /></figure>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'Email',
    data() {
      return {
        gif: 'static/email/email_gif_2.gif',
        library: '/static/email/',
        all_images: [
          'email_compose.png',
          'email_configurations.png',
          'email_display.png',
          'email_list.png',
          'email_login_empty.png',
          'email_login.png'
        ],
        meta_info: [{
            head: 'Completion Date',
            data: 'November 6th, 2018'
          },
          {
            head: 'Work Size',
            data: '10 weeks long project'
          }, {
            head: 'Medium',
            data: 'Software programming. Netbeans IDE to program the application logic. MySQL for database use'
          },
          {
            head: 'Contribution Type',
            data: 'Full. Individual Project'
          }

        ]
      }
    },
    mounted() {
      document.getElementById('s-menu').classList.add("dark-theme");
      document.getElementById('side-bar').classList.add("dark-theme");
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import '../scss/email';

</style>
