<template>
  <div class="emoji project_section">
    <div class="main_section">
      <figure>
        <img svg-inline v-bind:src="image" class="main_image" />
      </figure>
      <div class="inner_text">
        <div class="title">
          <p> Emoji
            <br />
            Encryption</p>
        </div>
        <div class="desc">
          <p>A fun and educational web application on encryption using emojis as keys and encrypted messages. The
            website allows to encrypt messages using emojis and decrypt with the same emojis</p>
            <div class="my_resume">
            <a class="resume_link" id="resume_link" href="https://gitlab.com/1532483/emoji-encryption">
              <img svg-inline src="../assets/arrow_right.svg" class="arrow_svg" for="resume_link" />
              Source Code
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="secondary_section section">
      <div class="content_wrap">
        <div class="semantic_title">
          <h1>Semantic Information About The Project</h1>
        </div>

        <div class="semantic_info">
          <div class="info_item" v-for="meta in meta_info" :key="meta.head">
            <h3>{{meta.head}}</h3>
            <p>{{meta.data}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="web_tour section">
      <div class="content_wrap">
        <figure class="gif_container"><img v-bind:src="gif" class="gif_image" /></figure>
        <h1>Website Tour</h1>
      </div>
    </div>

    <div class="thought_section section">
      <div class="content_wrap">
        <h1>Thoughts On The Project</h1>
        <p class="context_text_section">The project was meant to test our newly taught knowledge of
          JavaScript combined with our previous knowledge of HTML and CSS. In the process, I learned
          how to parse emojis ascii codes into graphic rendering on the screen and develop my own encryption algorithm. Looking back at the project, I learned not to use such bright colors for the whole website.</p>
      </div>
    </div>

    <div class="images_section section">
      <h1>Project Images</h1>
      <div class="images">
        <figure class="img_container" v-for="ai in all_images" :key="ai"><img class="img_cover" v-bind:src="library + ai"/></figure>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'emoji',
    data() {
      return {
        image: 'static/emoji/emoji_background.svg',
        gif: 'static/emoji/emoji_gif.gif',
        library: 'static/emoji/',
        all_images: [
          'emoji_encryption_use.png',
          'emoji_intro.png',
          'emoji_select_key.png',
          'emoji_thumbnail.png',
          'emoji_tutorial_1.png',
          'emoji_tutorial_2.png',
          'emoji_tutorial_3.png',
        ],
        meta_info: [{
            head: 'Completion Date',
            data: 'May 6th, 2017'
          },
          {
            head: 'Work Size',
            data: '2 weeks long project'
          }, {
            head: 'Medium',
            data: 'Web Programming. Vanilla HTML, CSS, JavaScript'
          },
          {
            head: 'Contribution Type',
            data: 'Full. Individual Project'
          }
        ],
      }
    },
    mounted() {
      document.getElementById('s-menu').classList.add("dark-theme");
      document.getElementById('side-bar').classList.add("dark-theme");
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import '../scss/emoji';

</style>
