<template>
  <div class="music project_section">
    <div class="main_section">
      <figure>
        <img svg-inline v-bind:src="image" class="main_image" />
      </figure>
      <div class="inner_text">
        <div class="title">
          <p> Music
            <br />
            Box</p>
        </div>
        <div class="desc">
          <p>Web Application to buy and sell music by tracks or albums. The site allows you to browse through multiple songs and add your favorites to the cart for a simple checkout.</p>
        </div>
      </div>
    </div>

    <div class="secondary_section section">
      <div class="content_wrap">
        <div class="semantic_title">
          <h1>Semantic Information About The Project</h1>
        </div>

        <div class="semantic_info">
          <div class="info_item" v-for="meta in meta_info" :key="meta.head">
            <h3>{{meta.head}}</h3>
            <p>{{meta.data}}</p>
          </div>
        </div>

      </div>
    </div>

    <div class="thought_section section switched">
      <div class="content_wrap">
        <p class="context_text_section">
          As of february 23rd 2019, the project is not finished and still ongoing. I decided to put this project in because it is my most ambitious project yet and shows my abilities with styling websites. There are currently problems with some of the styling but they will be dealt with in the future. My contribution to the project is the searching algorithm, the listing of items and the navigation bar from implementation to styling.
        </p>
        <h1>Thoughts On The Project</h1>
      </div>
    </div>

    <div class="images_section section">
      <h1>Project Images</h1>
      <div class="images">
        <figure class="img_container" v-for="ai in all_images" :key="ai"><img class="img_cover" v-bind:src="library + ai"/></figure>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'music',
    data() {
      return {
        image: 'static/music/music_background.svg',
        library: '/static/music/',
        all_images: [
          'music_cart_empty.png',
          'music_cart.png',
          'music_home.png',
          'music_home_bottom.png',
          'music_login.png',
          'music_register.png',
        ],
        meta_info: [{
            head: 'Completion Date',
            data: 'Ongoing. Planned to finish by April 5th, 2019'
          },
          {
            head: 'Work Size',
            data: '10 weeks long project'
          }, {
            head: 'Medium',
            data: 'Web Programming. Full-stack project with back-end in JSF'
          },
          {
            head: 'Contribution Type',
            data: 'Group of 4. Equal division of work.'
          }

        ]
      }
    },
    mounted() {
      document.getElementById('s-menu').classList.add("dark-theme");
      document.getElementById('side-bar').classList.add("dark-theme");
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import '../scss/music';

</style>
