<template>
  <div class="pacman project_section">
    <div class="main_section">
      <figure>
        <img svg-inline v-bind:src="image" class="main_image" />
      </figure>
      <div class="inner_text">
        <div class="title">
          <p> MonoGame
            <br />
            Pacman</p>
        </div>
        <div class="desc">
          <p>Object-oriented approach to the pacman game with the MonoGame framework for sprite display. Remastering the pacman game with a more modern coding approach </p>
        <div class="my_resume">
            <a class="resume_link" id="resume_link" href="https://gitlab.com/1532483/object-oriented-pacman">
              <img svg-inline src="../assets/arrow_right.svg" class="arrow_svg" for="resume_link" />
              Source Code
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="secondary_section">
      <div class="content_wrap">
        <div class="semantic_title">
          <h1>Semantic Information About The Project</h1>
        </div>

        <div class="semantic_info">
          <div class="info_item" v-for="meta in meta_info" :key="meta.head">
            <h3>{{meta.head}}</h3>
            <p>{{meta.data}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="web_tour section">
      <div class="content_wrap">
        <figure class="gif_container"><img v-bind:src="gif" class="gif_image" /></figure>
        <h1>Application Tour</h1>
      </div>
    </div>

    <div class="thought_section section">
      <div class="content_wrap">
        <h1>Thoughts On The Project</h1>
        <p class="context_text_section">This project was designed to be done by 3 members but I ended up doing the whole project due to others not doing their parts. The basic project was very static - the ghosts and pacman were a still images - so I decided to animate the entities with Photoshop as well as doing extra things like the teleporters. The overall object-oriented approach was overkill for this simple game but helped us learn how object-oriented programming worked</p>
      </div>
    </div>

    <div class="images_section section">
      <h1>Project Images</h1>
      <div class="images">
        <figure class="img_container" v-for="ai in all_images" :key="ai"><img class="img_cover" v-bind:src="library + ai"/></figure>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'pacman',
    data() {
      return {
        image: 'static/pacman/pacman_background.svg',
        gif: 'static/pacman/pacman_gif_2.gif',
        library: 'static/pacman/',
        all_images: [
          'pacman_lose.png',
          'pacman_win.png',
          'pacman_full.png',
          'pacman_closeup.png',
          'pacman_energizer.png',
          'pacman_scared.png',
        ],
        meta_info: [{
            head: 'Completion Date',
            data: 'March 28th, 2017'
          },
          {
            head: 'Work Size',
            data: '3 weeks long project'
          }, {
            head: 'Medium',
            data: 'MonoGame Framework for display and c# language for behavior and object-oriented approach'
          },
          {
            head: 'Contribution Type',
            data: 'Full even if it was a group project'
          }

        ]
      }
    },
    mounted() {
      document.getElementById('s-menu').classList.add("dark-theme");
      document.getElementById('side-bar').classList.add("dark-theme");
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import '../scss/pacman';

</style>
