<template>
  <pdf class="pdf" src="./static/cv.pdf" > </pdf>
</template>

<script>
  import pdf from 'vue-pdf';


  export default {
    components: {
      pdf
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .pdf{
    z-index: 1000;
  }
</style>
