<template>
  <div class="portfolio">
    <div class="section" v-for=" s in sections" :key="s.id" v-bind:id="s.id">

      <div class="project_section_title">
        {{s.title}}
      </div>

      <div class="project_section_desc">
        {{s.desc}}
      </div>

      <div class="projects" v-bind:class="s.id">

        <router-link class="project" v-for=" p in s.projects" :key="p.name" :to="p.href">

          <div class="project_image_container">
            <div class="square">
              <img v-bind:src="p.img" class="fit_cover" />
            </div>
          </div>

          <div class="text_content">
            <h3 class="header" v-html="p.header"></h3>
            <p class="desc" v-html="p.desc"></p>
            <ul class="tags">
              <li class="tag_item" v-for=" t in p.tags " :key="t">{{t}}</li>
            </ul>
          </div>

        </router-link>

        <!--OR-->

        <div class="image_project project_section" v-for="i in s.images" :key="i.id" v-bind:id="i.id">

          <div class="project_group">

            <div class="project_image_container">
              <img :src="i.library + i.main_image" class="fit_cover" />
            </div>

            <div class="secondary_images" id="#secondary_images">
              <figure class="image_container" v-for="si in i.secondary_images" :key="si" v-bind:id="si">
                <img :src="i.library + si" class="fit_cover" />
              </figure>
            </div>

            <div class="side_display">
              <div class="project_description">
                <h3>{{i.name}}</h3>
                <p class="desc"> {{i.desc}}</p>
                <div class="semantic_info">
                <div class="info_item" v-for="meta in i.meta_info" :key="meta.head">
                  <h3>{{meta.head}}</h3>
                  <p>{{meta.data}}</p>
                </div>
              </div>
              </div>              
            </div>


          </div>

          <div class="control">
            <div class="close_icon"></div>
          </div>

        </div>
        <!--image_project-->
      </div>
      <!--projects-->
    </div>
    <!--section-->
  </div>
  <!--portfolio-->
</template>

<script>
  export default {
    name: 'portfolio',
    data() {
      return {
        sections: [{
            id: 'academics',
            title: 'Academics',
            desc: 'Projects during the course of my academic career that helped me develop various design & programming skills. Most of these projects are full-stack development projects while some focus a bit more on front-end development.',
            projects: [
              {
                name: 'music-box',
                img: '/static/music/music-box.svg',
                header: 'Music Box',
                desc: 'Web Application to buy and sell music by tracks and albums.',
                href: '/portfolio/music',
                tags: [
                  'Java', 'JSF', 'JPA', 'JavaScript', 'Sass', 'CSS', 'HTML',
                ]
              },
              {
                name: 'stock_exchange',
                img: '/static/stock/stockers_logo.svg',
                header: 'Stockers Simulator',
                desc: 'Web application simulator of realtime stock transactions, portfolio building and stock fluctuations',
                href: '/portfolio/stock',
                tags: [
                  'PHP', 'Bootstrap', 'JavaScript', 'Laravel', 'PostGres SQL', 'API calls', 'Authentications'
                ]
              },
              {
                name: 'pacman',
                img: '/static/pacman/pacman_thumbnail.png',
                header: 'Object Oriented Pacman',
                desc: 'Object-oriented approach to the pacman game with the MonoGame framework for sprite display',
                href: '/portfolio/pacman',
                tags: [
                  'C#', 'MonoGame', 'Photoshop', 'Visual Studio', 'Object-Oriented', 'Event-Driven',
                ]
              },
              {
                name: 'emoji_encryption',
                img: '/static/emoji/emoji_thumbnail.png',
                header: 'Emoji Encryption',
                desc: 'Educational web application on encryption using emojis as keys and encrypted messages',
                href: '/portfolio/emoji',
                tags: [
                  'HTML', 'CSS', 'JavaScript', 'API Calls', 'Emoji Encoding',
                ]
              },
              {
                name: 'jag_email',
                img: '/static/email/ja.png',
                header: 'Java Email Application',
                desc: 'Dark themed application for displaying, viewing, replying, forwarding and composing emails with a simple log-in, log-out interface',
                href: '/portfolio/email',
                tags: [
                  'Java', 'JavaFX', 'MySQL', 'Async Tasks', 'Email Server',
                ]
              },
              
            ]
          },
          {
            id: 'drawings',
            title: 'Drawings',
            desc: 'As leisure, I like to draw in a few different styles whether it be traditional pencil, watercolor or cartooning/inking. Althought some have technical flaws in proportions or perspective, these are a few pieces I\'m proud of since they show the progress of my work.' +
              ' Most are unfinished pieces since they focused more on application than polished pieces',
            images: [{
                id: 'charles_bradley',
                library: '/static/drawings/piece_1_charles_bradley/',
                name: 'Charles Bradley Changes Album',
                desc: 'This is the very first piece that I drew for an intro to drawing class. With a bit more experience, I can see some anatomy and drapery issues but I\'m still proud of the effort I put into doing the hands. ' +
                  'I drew the album cover of Changes by Charles Bradley through observation only and decided to pay tribute to the singer who passed away only a few months before.',
                main_image: 'charles_bradley_changes_album.jpg',
                secondary_images: [
                  'charles_bradley_changes_album.jpg'
                ],
                meta_info: [{
                    head: 'Completion Date',
                    data: 'June 20th, 2018'
                  },
                  {
                    head: 'Work Size',
                    data: '11 x 14 in.'
                  },
                  {
                    head: 'Medium',
                    data: 'Sketch Book (Canson) with 2B, B & HB pencils'
                  }
                ],

              },
              {
                id: 'live_model',
                library: '/static/drawings/piece_2_live_models/',
                name: 'Live Models',
                desc: 'These pieces are my attempt in drawing the human form. All are unfinished since the models change positions rather quickly. Once again, there are some anatomy issues but the goal of practicing is to improve.' +
                  ' I was studying shadows on the human\'s muscles',
                main_image: 'clara_model_3.jpg',
                meta_info: [{
                    head: 'Drawing Timeframe',
                    data: 'From June to August 2018'
                  },
                  {
                    head: 'Work Size',
                    data: '11 x 14 in. sheets but most drawings take half the sheet'
                  },
                  {
                    head: 'Medium',
                    data: 'Sketch Book (Canson) with B & HB pencils'
                  },
                ],
                secondary_images: [
                  'clara_model_3.jpg',
                  'clara_model_1.jpg',
                  'clara_model_2.jpg',
                  'clara_model_4.jpg',
                  'man_model.jpg',
                ]
              },
              {
                id: 'still_models',
                library: '/static/drawings/piece_3_still_models/',
                name: 'Still Models',
                desc: 'The focus of these pieces are on the human body on still models which includes statues and pictures. In the collection, I drew a statue in Phillips square in Montreal and I drew a contemporary dancer from a magazine of performing arts',
                main_image: 'statue_phillips_square.jpg',
                meta_info: [{
                    head: 'Completion Dates',
                    data: 'June 5th, 2018 (Statue) & August 10th, 2018 (Dancer)'
                  },
                  {
                    head: 'Work Size',
                    data: '11 x 14 in.'
                  },
                  {
                    head: 'Medium',
                    data: 'Sketch Book (Canson) with 2B, B & HB pencils'
                  },
                ],
                secondary_images: [
                  'statue_phillips_square.jpg',
                  'ballet_lady.jpg',
                ]
              },
              {
                id: 'human_parts',
                library: '/static/drawings/piece_4_human_parts/',
                name: 'Individual Parts Sketches',
                desc: 'These are sketches to work on my weaknesses. I worked on the eyes surrounding folds/shades, reflections and eyelashes. For the hands, I worked on making them more dynamic and anatomically correct.',
                main_image: 'hand_sketch.jpg',
                meta_info: [{
                    head: 'Drawing Timeframe',
                    data: 'From June 2018 to January 2019'
                  },
                  {
                    head: 'Work Size',
                    data: 'Size varies upon the piece'
                  },
                  {
                    head: 'Medium',
                    data: 'Sketch Pads with 6B, 2B, B, HB'
                  }

                ],
                secondary_images: [
                  'hand_sketch.jpg',
                  'eyes_1.jpg',
                  'eyes_2.jpg',
                  'hand_study_1.jpg',
                  'hand_study_2.jpg',
                  'hand_study_3.jpg'
                ]
              },
              {
                id: 'otis',
                library: '/static/drawings/piece_5_otis/',
                name: 'Otis Redding Cartooning',
                desc: 'This piece attempts to represent Otis Redding in a realistic cartooning style. This piece has a few dozen attempts in different styles which are shown in the slideshow. I ended up doing a hirschfeld like style in suggesting form through simple lines and hatching for simple shades.',
                main_image: 'otis_redding_cartooning.jpg',
                meta_info: [{
                    head: 'Completion Date',
                    data: 'September 19th, 2018'
                  },
                  {
                    head: 'Work Size',
                    data: '8.5 x 11 in.'
                  },
                  {
                    head: 'Medium',
                    data: 'Fabriano Bristol Pad for inking with inking pens'
                  }
                ],
                secondary_images: [
                  'otis_redding_cartooning.jpg',
                  'otis_sketch_1.jpg',
                  'otis_sketch_2.jpg',
                  'otis_sketch_3.jpg',
                  'otis_sketch_4.jpg',
                  'otis_sketch_5.jpg',
                ]
              },
              {
                id: 'watercolor_cat',
                library: '/static/drawings/piece_6_watercolor_cat/',
                name: 'Watercolor Cat',
                desc: 'First attempt at painting an animal with watercolor. The reference was a still image. For the piece, it was suggested to make the illustration expressive by avoiding too much details and suggesting form through color values.',
                main_image: 'watercolor_cat.jpg',
                meta_info: [{
                    head: 'Completion Date',
                    data: 'November 15th, 2018'
                  },
                  {
                    head: 'Work Size',
                    data: '23 x 15.25 cm'
                  },
                  {
                    head: 'Medium',
                    data: 'Fabriano Rough 100% cotton for watercolour with PWC watercolor paint '
                  }
                ],
                secondary_images: [
                  'watercolor_cat.jpg'
                ]
              },
              {
                id: 'movement_study',
                library: '/static/drawings/piece_7_movement_study/',
                name: 'Movement Study',
                desc: 'This piece is about capturing movement and not human anatomy. Drapery is a medium that can help suggest movement and therefore I studied how clothes work on the human body.' +
                  ' The main piece is a tai chi instructor in action.',
                main_image: 'tai_chi_movement.jpg',
                meta_info: [{
                    head: 'Completion Date',
                    data: 'September 1st, 2018'
                  },
                  {
                    head: 'Work Size',
                    data: '8.5 x 11 in.'
                  },
                  {
                    head: 'Medium',
                    data: 'Sketch Book (Canson) with PrismaColor crayons (red)'
                  },
                ],
                secondary_images: [
                  'drapery_study.jpg',
                  'tai_chi_movement.jpg'
                ]
              }
            ]
          }
        ]
      }
    },
    mounted() {
      document.getElementById('s-menu').classList.remove("dark-theme");
      document.getElementById('side-bar').classList.remove("dark-theme");
      /**
       * Wait for the DOM to load to start accessing elements
       */
      $(document).ready(function () {
        //Set handlers
        $('div.image_project').click(expand);
        $('div.control').click(close);

        //Global var to clearInterval
        let interval;

        /**
         * Expands the creative work to show more information
         * and start a slideshow if there is more than 1 images
         * 
         * @param {DOMEvent} event 
         */
        function expand(event) {
          //Get node and expand
          let $node = event.delegateTarget;
          $($node).addClass('expanded');

          //Start Slideshow
          interval = startSlideshow($node);

          //Take off listener 
          $($node).off('click', expand);
        }

        /**
         * Close the expanded section and
         * interrupt the slideshow
         * 
         * @param {DOMEvent} event 
         */
        function close(event) {
          //Get node and close
          let $node = event.delegateTarget.parentNode;
          $($node).removeClass('expanded');

          //Stop Slideshow
          clearInterval(interval);

          //Hide slideshow images
          hideAll($node);

          //Put back listener
          setTimeout(function () {
            $($node).on('click', expand);
          }, 500);
        }


        /**
         * Hides all the images in secondary_images from the clicked item 
         * by setting the opacity to 0
         * 
         * @param {jQueryObject} $node 
         */
        function hideAll($node) {
          let images_list = $($($($node).children()[0]).children('.secondary_images')[0]).children(
            '.image_container');

          $(images_list).css('opacity', '0');

        }


        /**
         * Start a slideshow by setInterval and validate list quantity > 1
         * 
         * 
         * @param {jQueryObject} $node 
         */
        function startSlideshow($node) {

          //Get Images List From Slideshow
          let images_list = $($($($node).children()[0]).children('.secondary_images')[0]).children(
            '.image_container');

          //Counter
          let list_total = images_list.length;
          let current_count = 0;

          //Display first image
          setDisplay(current_count, '1', images_list)


          if (list_total > 1) {


            //Set interval
            interval = setInterval(function () {
              if (current_count === list_total - 1) {
                current_count = 0;
                setDisplay(list_total - 1, '0', images_list);
                setDisplay(current_count, '1', images_list);
              } else {
                current_count++;
                setDisplay(current_count - 1, '0', images_list);
                setDisplay(current_count, '1', images_list);
              }
            }, 2000);
          }

          return interval;
        }

        /**
         * Set opacity display the specified element in the list 
         * 
         * @param {int} count 
         * @param {String} display_type 
         * @param {HTMLAllCollection} list 
         */
        function setDisplay(count, display_type, list) {
          $(list[count]).css('opacity', display_type);
        }
      })

    }
  }


  // import script from '../js/expand.js';

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import '../scss/portfolio';

</style>
