<template>
  <div class="skills">
    <h1> Skills </h1>
  </div>
</template>

<script>
export default {
  name: 'skills',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  // @import '../scss/about';

</style>
