<template>
  <div class="stock project_section">
    <div class="main_section">
      <figure>
        <img svg-inline v-bind:src="image" class="main_image" />
      </figure>
      <div class="inner_text">
        <div class="title">
          <p> Stockers
            <br />
            Simulator</p>
        </div>
        <div class="desc">
          <p>Web application simulator of realtime stock transactions, portfolio building and stock fluctuations. Work
            with Restful API and finance knowledge</p>

          <div class="my_resume">
            <a class="resume_link" id="resume_link" href="http://stockers-web-app.herokuapp.com/">
              <img svg-inline src="../assets/arrow_right.svg" class="arrow_svg" for="resume_link" />
              Website
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="secondary_section">
      <div class="content_wrap">
        <div class="semantic_title">
          <h1>Semantic Information About The Project</h1>
        </div>

        <div class="semantic_info">
          <div class="info_item" v-for="meta in meta_info" :key="meta.head">
            <h3>{{meta.head}}</h3>
            <p>{{meta.data}}</p>
          </div>
        </div>

      </div>
    </div>

    <div class="thought_section section switched">
      <div class="content_wrap">
        <p class="context_text_section">We decided as a team to name our website stockers because it aims at observing
          and simulating transactions of stocks. My contribution to this project was to implement &amp; design the buy
          and sell transactions and link to the all pages as well as helping fix major issue throughout the project.
          The logo was designed by me and meant to be used in the mobile version of this application.</p>
        <h1>Thoughts On The Project</h1>
      </div>
    </div>

    <div class="images_section section">
      <h1>Project Images</h1>
      <div class="images">
        <figure class="img_container" v-for="ai in all_images" :key="ai"><img class="img_cover" v-bind:src="library + ai" /></figure>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'stock',
    data() {
      return {
        image: 'static/stock/stock_background.png',
        library: '/static/stock/',
        all_images: [
          'stock_buy.png',
          'stock_display.png',
          'stock_login.png',
          'stock_portfolio.png',
          'stock_search.png',
          'stock_sell.png',
          'stock_welcome.png',
        ],
        meta_info: [{
            head: 'Completion Date',
            data: 'December 10th, 2018'
          },
          {
            head: 'Work Size',
            data: '3 weeks long project'
          }, {
            head: 'Medium',
            data: 'Web Programming. Back-End with PHP'
          },
          {
            head: 'Contribution Type',
            data: 'Group of 4. Equal division of work.'
          }

        ]
      }
    },
    mounted() {
      document.getElementById('s-menu').classList.add("dark-theme");
      document.getElementById('side-bar').classList.add("dark-theme");
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import '../scss/stock';

</style>
