<template>
  <div id="app">
    <div class="site-nav-wrapper">

      <div id="s-menu" class="s-menu">

        <div class="s-menu-wrapper">
          <nav class="s-menu-nav">
            <ul>
              <li v-for="el in navElements" :key="el.name" class="nv">
                <router-link v-bind:to="el.href">{{ el.name }}</router-link>
              </li>
            </ul>
          </nav>
        </div>


        <div class="logo">

        </div>

        <div v-on:click="ham_clicked" class="s-menu-ctrl">
          <div class="s-menu-btn">
            <div class="hamburger">

            </div>
          </div>
        </div>


      </div>

      <div id="side-bar" class="side-bar">

        <div class="side-bar-wrapper">

          <div class="side-bar-desc">
            <span>{{ title_description }}</span>
          </div>

        </div>

      </div>
    </div>
    <div id="main">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import script from './js/scroll_detection.js';
  

  export default {
    name: 'app',
    methods: {
      ham_clicked: function (event) {
        $('.s-menu').toggleClass('menu-open');
      }
    },
    mounted() {
      let scriptImport = document.createElement('script')
      scriptImport.setAttribute('src', script.name)
      document.head.appendChild(scriptImport)
    },
    data() {
      return {
        navElements: [{
            name: 'About',
            href: '/',
          },
          // {
          //   name: 'Skills',
          //   href: '/skills',
          // },
          {
            name: 'Portfolio',
            href: '/portfolio',
          }
        ],
        title_description: 'Software & Web Developer'
      }
    },
    mounted() {
      console.info(this.$route.fullPath);
    },
    watch: {
      $route(to, from) {
        $('.s-menu').removeClass('menu-open');
        console.log('Clicked');
      }
    }
  }

</script>

<style lang="scss">
  @import './scss/main';

  #app {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

</style>
