/*
  Portfolio styling
  Author: Danny
*/


@import "compass/css3";

/*BASE - Base styles, variables,  mixins, etc */
@import './base/variables';

.about {
  position: absolute;
  width: 100%;
  color: $normal_theme_color;
  stroke: $normal_theme_color;
  overflow: hidden;
  max-width: 1600px;


  &.theme-dark{
    color: $dark_theme_color;
    stroke: $dark_theme_color;

    .about_me{
      .name{
        &:after{
          background-color: $dark_theme_color;
        }
      }
    }

    .resume_link{
    &:hover,
        &:focus {
          color: $lighten_normal_theme_color;
          fill: $lighten_normal_theme_color;
          stroke: $lighten_normal_theme_color;
        }
    }
  }

  @media screen and (min-width: 1500px) {
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  &>* {
    padding: 0 10%;

    @media screen and (min-width: 1024px) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .about_me {
      min-height: 100vh;

    .name {
      p {
        line-height: 0.75;
        font-weight: 600;
        width: inherit;
        color: inherit;
        padding: 80px 0 20px 0;
        font-size: 13vw;


        @media screen and (min-width: 700px){
          padding: 100px 0 20px 0;
          font-size: 11vw;
        }

        @media screen and (min-width: 1024px){
          padding: 10vh 0 20px 0;
        }

        @media screen and (min-width: 1400px) {
          padding-top: 150px;
          padding-bottom: 50px;
        }
      }

      &:after {
        position: absolute;
        width: 0;
        height: 3px;
        content: "";
        background-color: $normal_theme_color;

        @media screen and (min-width: 700px) {
          width: 50%;
          left: calc(100px + 5%);
        }

        @media screen and (min-width: 1024px) {
          left: calc(100px + 10%);
        }

        @media screen and (min-width: 1400px) {
          left: calc(100px + 5%);
          width: 60%;
        }
      }
    }

    .about_me_desc {
      padding: 0px 10px 20px 10px;
      font-weight: 300;
      font-size: 20px;
      width: 90%;

      @media screen and (min-width: 500px){
        font-size: 25px;
      }

      @media screen and (min-width: 700px) {
        font-size: 30px;
        width: 95%;
        padding: 20px 10px 20px 10px;
      }

      @media screen and (min-width: 1024px) {
        font-size: 35px;
        padding: 50px 50px 50px 30px;
      }

      @media screen and (min-width: 1440px){
        font-size: 2.2vw;
      }
    }
  }

  .header,
  .desc,
  .resume_link{
    padding: 20px 10px 50px 10px;
    font-size: 20px;

    
    @media screen and (min-width: 500px){
      font-size: 25px;
    }

    @media screen and (min-width: 700px) {
      font-size: 30px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 35px;
    }

    @media screen and (min-width: 1440px){
      font-size: 2.2vw;
    }
  }

  .header {
    font-weight: 600;
    padding: 0;
  }

  .desc, 
  .resume_link{
    font-weight: 300;
  }

  .current_life,
  .future_life {
    min-height: 40vh;

    @media screen and (min-width: 1024px) {
      padding-right: 180px;
    }
  }

  .current_life {

    .header,
    .desc {
      text-align: right;
    }
  }

  .future_life {

    .my_resume {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      width: auto;

      .resume_link {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        color: inherit;
      
        @media screen and (min-width: 1024px) {
          padding: 30px 0;
        }
      
        &:hover,
        &:visited,
        &:focus {
          text-decoration: none;
          color: inherit;
        }
      
        .arrow_svg {
          width: 20px;
          height: 20px;
          stroke: inherit;
          margin-right: 20px;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 25px;
      
          transition: margin 0.5s ease-in-out;
      
          @media screen and (min-width: 1024px) {
            width: 30px;
            height: 30px;
            margin-right: 30px;
          }
        }
      
        &:hover,
        &:focus {
          color: $lighten_normal_theme_color;
          fill: $lighten_normal_theme_color;
          stroke: $lighten_normal_theme_color;
      
          .arrow_svg {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@import './layouts/email_contact';
