@import "compass/css3";

/*BASE - Base styles, variables,  mixins, etc */
@import './base/variables';
@import './base/normalize';

.email {
  .main_section{
    figure{
      background-color: $normal_theme_color;
    }
  }
}
