@import "compass/css3";

/*BASE - Base styles, variables,  mixins, etc */
@import './base/variables';
@import './base/normalize';

.pacman {
  .main_section{
    figure{
      background-color: $pacman_gray;
    }
  }
}
