@import "compass/css3";

/*BASE - Base styles, variables,  mixins, etc */
@import './base/variables';
@import './layouts/_projects_section';

.portfolio {
  color: $normal_theme_color;

  @media screen and (min-width: 700px) {
    padding: 0 80px 100px 80px
  }

  @media screen and (min-width: 1023px) {
    padding: 100px 120px;
  }

  @media screen and (min-width: 1400px) {
    padding: 100px 180px 100px 180px;
  }

  .section {
    position: relative;
    padding-top: 80px;
    font-size: 1em;

    .project_section_title {
      font-size: 1.5em;
      font-weight: 700;
      text-align: center;

      @media screen and (min-width: 500px) {
        font-size: 3em;
      }

      @media screen and (min-width: 1400px) {
        font-size: 4.5em;
      }
    }

    .project_section_desc {
      position: relative;
      margin: 0 auto;
      padding: 10px 0 100px 0;
      width: 80%;

      letter-spacing: .025em;
      line-height: 1.8em;
      font-size: 1em;
      font-weight: 400;
      text-align: center;
      color: $light_text_gray;

      @media screen and (min-width: 500px) {
        font-size: 1em;
      }

      @media screen and (min-width: 1440px){
        font-size: 1.5em;
      }

      @media screen and (min-width: 2000px){
        font-size: 2.5em;
      }
    }

    .projects {
      max-height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      position: relative;
      margin: 0 auto;

      @media screen and (min-width: 1024px){
        width: 85%;
      }

      .project,
      .image_project {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        padding-bottom: 40px;
        display: block;
        color: inherit;

        transition: width 0.2s;

        @media screen and (min-width: 500px) {
          width: 50%;
        }

        @media screen and (min-width: 1024px) {
          width: 33.3%;
        }
      }

      .project {

        &:visited,
        &:active,
        &:focus {
          color: inherit;
        }

        &:hover {
          .project_image_container {
            opacity: 0.9;

            img.fit_cover {
              transform: scale(1.1);
            }
          }
        }

        .project_image_container {
          position: relative;
          width: 100%;
          overflow: hidden;

          img.fit_cover {
            width: 100%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            background-color: $music_box_background;

            transition: all 0.5s;
          }

          &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }

        }

        .header {
          padding-top: 30px;
          color: inherit;
          text-align: center;

          @media screen and (min-width: 500px) {
            text-align: left;
            font-size: 1.2em;
          }

          @media screen and (min-width: 800px){
            font-size: 1.5em;
          }
        }

        .desc {
          width: 100%;
          color: inherit;
          letter-spacing: .025em;
          line-height: 1.8em;
          color: $light_text_gray;
          text-align: center;

          @media screen and (min-width: 500px) {
            width: 95%;
            text-align: left;
            font-size: 1em;
          }

          @media screen and (min-width: 1400px){
            font-size: 1.2em;
          }

        }

        .tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          padding-top: 20px;
          justify-content: center;

          @media screen and (min-width: 500px) {
            justify-content: flex-start;
            width: 80%;
          }


          .tag_item {
            display: block;
            font-size: 0.75em;
            padding: 5px;
            margin: 5px;
            margin-left: 0;
            background-color: lighten($normal_theme_color, 85%);
            border-radius: 100px;

            @media screen and (min-width: 700px){
              font-size: 1em;
            }
          }
        }

      }

      .image_project {
        @media screen and (min-width: 500px){
          padding: 10px;
          padding-bottom: 50px;
        }

        .project_group {
          .project_image_container,
          .project_description {
            cursor: pointer;
          }

          &:hover {
            .project_image_container {
              .fit_cover {
                transform: scale(1.1);
              }
            }

            .project_description {
              color: lighten($normal_theme_color, 50%);
            }
          }

          .fit_cover {
            max-height: 100%;
            max-width: 100%;
            height: auto;
            width: auto;
            margin: auto auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            object-fit: cover;
            transition: all .5s;
          }

          .project_description {
            text-align: center;

            h3 {
              transition: color .5s;
            }
          }

          .secondary_images,
          .semantic_info,
          .desc {
            display: none;
          }

          .project_image_container,
          .image_container {
            overflow: hidden;
            position: relative;

            &:after {
              content: "";
              display: block;
              padding-bottom: 110%;
            }
          }
        }

        .control {
          display: none;
          position: absolute;
          top: 10px;
          right: 10px;
          width: 30px;
          height: 30px;
          cursor: pointer;

          @media screen and (min-width: 1024px) {
            top: 50px;
            right: 50px;
            width: 50px;
            height: 50px;
          }

          .close_icon {
            position: absolute;
            top: 50%;
            width: 100%;
            height: 6px;
            transition: 0.5s;

            &:after,
            &:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: $dark_theme_color;
            }

            &:before {
              top: 0;
              transform: rotate(45deg);
            }

            &:after {
              top: 0;
              transform: rotate(135deg);
            }
          }
        }

        &.expanded {
          cursor: auto;
          top: 0;
          left: 0;
          position: fixed;
          background-color: $semi_transparent_normal_theme_color;
          color: $dark_theme_color;
          z-index: 1000;
          width: 100vw;
          height: 100vh;

          //change because lags when more images
          transition: all .5s;

          padding: 0;

          .control {
            display: block;
          }

          .project_image_container,
          .project_description {
            cursor: auto;
          }

          .project_group {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;

            @media screen and (min-width: 600px){
              padding: 40px;
            }

            @media screen and (min-width: 1024px) {
              flex-direction: row;
              padding: 0;
            }

            @media screen and (max-width: 1024px) and (orientation: landscape){
              flex-direction: row;
            }

            @media screen and (max-height: 1024px) {
              font-size: .8em;
              padding: 0;
            }

            @media screen and (max-width: 450px){
              font-size: 4vw;
            }

            &:hover {
              .project_image_container {
                .fit_cover {
                  transform: none;
                }
              }

              .project_description {
                color: inherit;
              }
            }

            .project_image_container {
              display: none;
            }

            .secondary_images {
              width: 60%;
              height: 50%;
              display: block;
              position: relative;

              @media screen and (max-height: 1024px) and (orientation: landscape){
                height: 100%;
              }

              @media screen and (min-width: 1024px) {
                width: 40%;
                height: 100%;
              }

              .image_container {
                width: 100%;
                height: auto;
                position: absolute;
                margin: auto 0;
                top: 0;
                bottom: 0;
                opacity: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                transition: opacity .75s;

                .fit_cover {
                  padding: 20px;
                  position: absolute;
                }
              }
            }

            .side_display {
              position: relative;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 50px;
              width: 100%;
              height: 50%;

              @media screen and (min-width: 1024px) {
                flex-direction: column;
                width: 60%;
                padding: 100px;
                height: auto;
              }

              @media screen and (max-width: 450px) {
                padding: 5px;
                padding-bottom: 20px;
              }

              .project_description {
                text-align: left;

                @media screen and (min-height: 1024px) {
                font-size: 1.3em;
                }

                @media screen and (max-height: 1024px) {
                  padding-bottom: 10px;
                }

                @media screen and (min-width: 1024px){
                  font-size: 1.7em;
                }

                .desc {
                  display: block;
                  padding-top: 10px;
                  padding-bottom: 20px;

                  @media screen and (max-height: 1024px) {
                    font-size: .9em;
                    padding-bottom: 0;
                  }
                }

                .semantic_info {
                  width: 100%;
                  display: block;
                  position: relative;
                  margin: 0 auto;
                  left: 0;
                  right: 0;
                  padding: 0;

                  .info_item {

                    @media screen and (max-height: 1024px) {
                      padding: 5px 0;
                    }

                    h3 {

                      @media screen and (max-height: 1024px) {
                        font-size: 1em;
                      }
                    }

                    p {

                      @media screen and (max-height: 1024px) {
                        font-size: .8em;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
