@import "compass/css3";

/*BASE - Base styles, variables,  mixins, etc */
@import './base/variables';
@import './base/normalize';

.stock {
  .main_section{
    figure{
      background-color: $normal_theme_color;
    }
  }

  .images_section{
    background-color: $normal_theme_color;

    h1{
      color: $dark_theme_color;
    }
  }
}
